/* VARIABLES */
:root {
  --main-color: rgb(161, 67, 56)
}

/* GLOBAL SETTINGS */
body {
  padding-top: 60px;
  font-size: 100%;
  background-color: black
}

h1 {
  font-size: 35px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
  font-size: 22px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.grid {
  display: grid;
  padding: 5%;
  background-color: var(--main-color);
}

/* NAVIGATION BAR*/
.top-bar {
  height: 60px;
  width: 100%;
  background-color: black;
  position: fixed;
  top: 0;
}

.top-bar ul {
  display: flex;
  justify-content: space-around;
  text-align: center;
  color: white;
  font-size: 90%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.top-bar ul li {
  display: flex;
  padding: 20px 10px 0;
}
.top-bar a {
  color: white;
}

a:hover {
  color: pink;
  font-size: 125%;
  transition: 1s;
}
/* INDEX/FRONT PAGE */
.grid-1 {
  grid-template-columns: 2fr 1fr;
  column-gap: 5px;
}

.grid-1, h1 {
  font-size: 200%;
}
.grid-1, p {
  font-size: 130%;

}
#me {
  min-width: 150px;
}

/* WEB DEVELOPMENT */
/* RESTAURANT CAREER */
.grid-3 {
  grid-template-columns: 1fr 1fr;
}

#kitchen {
  max-width: 400px;
  min-width: 150px;
}

/* MUSIC AND VIDEOGRAPHY */
.grid-4 {
  grid-template-columns: 1fr 1fr;
  column-gap: 5px;
}

.grid-4-item-2 {
  padding: 5%;
} 

.grid-4-item-3 {
  padding: 5%;
}

#sk8vid {
  aspect-ratio: 4/3;
  min-width: 300px;
}

/* CONTACT ME */
#contact-list li {
  font-size: 300%;
  text-align: center;
  font-weight: bold;
  color: white;
}
#contact-list a {
  color: white;
}



/* MEDIA QUERIES */
@media screen and (max-width: 629px) {
   .grid {
    display: grid;
    grid-template-columns: 1fr;
    padding: 60px;
    background-color: var(--main-color);
    justify-content: center;
  }

  .grid-1-item-2 {
    grid-row: 1;
  }

  .grid-3-item-2 {
    grid-row: 1;
  }

  .grid-4-item-2 {
    grid-row: 1;
  }

  #me {
    max-width: 150px;
    min-width: 50px;
  }

  #napster {
    max-width: 150px;
  }
  #kitchen {
    max-width: 150px;
  }

  #sk8vid {
    max-width: 300px;
    margin-left: 15px;
  }
  h1 {
    font-size: 30px;
  }
  
  p {
    font-size: 18px;
  }
}