* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-align: center;
    background-color: black;

  }

  h1, h2, h3 {
    padding: 30px;
  }

  h1 {
    background-color: blanchedalmond;
  }

  h2 {
    background-color: darksalmon;
  }

  h3 {
    background-color: rgb(206, 136, 16);
  }

  .p {
    color: violet;
    background-color: aquamarine;
    margin: 50px;
    padding: 50px;
    border: solid; 
    border-width: 15px;
  }

  .p2 {
    color: rgb(222, 164, 222);
    background-color: aquamarine;
    margin: 50px;
    padding: 50px;
    border: solid; 
    border-width: 15px;padding: 50px;
  }

  .p3 {
    color: rgb(119, 8, 119);
    background-color: aquamarine;
    margin: 50px;
    padding: 50px;
    border: solid; 
    border-width: 15px;
  }

  footer {
    background-color: rgb(242, 90, 13);
  }
  
  .p4 {
    color:white
  }

