/* RESET */ 
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  text-decoration: none;
}

/*NAVIGATION BAR*/
.top-bar {
  height: 60px;
  width: 100%;
  text-align: center;
  background-color: black;
  position: fixed;
  top: 0;
}

.top-bar ul {
  min-width: 800px;
}
.top-bar li {
  display: inline-block;
  padding: 20px 10px;
  color: white;
}

ul a {
  color: white
}

a:hover {
  color: pink;
}

/* INDEX */
body {
  padding-top: 60px;
  font-size: 100%;
}

h1 {
  font-size: 35px;
}

p {
  font-size: 22px;
}

.grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 60px;
  background-color: rgb(161, 67, 56);
}

#me {
  min-width: 150px;
}



@media screen and (max-width: 600px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 60px;
    background-color: rgb(161, 67, 56);
    justify-content: center;
  }
  .grid-item-2 {
    grid-row: 1;
  }
  #me {
    max-width: 150px;
    min-width: 50px;
  }
  h1 {
    font-size: 30px;
  }
  
  p {
    font-size: 18px;
  }
}