* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    text-decoration: none;
}

.top-bar {
  height: 60px;
  width: 100%;
  text-align: center;
  background-color: black;
  position: fixed;
  top: 0;
  z-index: 10
}

.top-bar li {
  display: inline-block;
  padding: 20px 60px;
  color: white;
}

ul a {
  color: white
}

a:hover {
  color: pink;
}

body {
  padding-top: 60px;
}

.spotlight {
  height: 200px;
  position: relative;
  background-color:blanchedalmond;
  min-width: 1000px;
}

.spotlight img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

#headline {
  font-size: 40px;
}

.spotlight p, h1 {
  position: relative;
  margin-right: 200px;
}

body #iframe1 {
  position: absolute;
  top: 60;
  right: 0;
}

body #iframe2 {
  position: absolute;
  top: 375px;
  right: 0;
}